<a href="https://colab.research.google.com/github/karishmasd/Python_2.0/blob/main/2_0_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Formating Strings

In [ ]:
name="Karishma"
number= int(len(name)*17/5)
print("Hello", name ,"your lucky number is :",number)
print("Hello {} your lucky number is :{}".format(name,number))

Hello Karishma your lucky number is : 27
Hello Karishma your lucky number is :27

In [ ]:
name="Mind"
print("Hi {name} your lucky number is {number}".format(name=name,number=2*len(name)))

Hi Mind your lucky number is 8

In [ ]:
price=100
with_tax=price*1.18
print(price, with_tax)
print("Base price:${:.2f} . With tax :${:.2f}".format(price, with_tax))
print(f"Base price: ${price:.2f}. With tax: ${with_tax:.2f}")

100 118.0
Base price:$100.00 . With tax :$118.00
Base price: $100.00. With tax: $118.00

In [ ]:
def to_celsius(x):
  return (x-32)*5/9
for x in range(0,101,10):
  print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

In [ ]:
def student_grade(name, grade):
	return "{} received {}% on the exam".format(name,grade)

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam